In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

train = pd.read_csv("/content/drive/MyDrive/Train.csv")
test = pd.read_csv("/content/drive/MyDrive/Test.csv")
riders = pd.read_csv("/content/drive/MyDrive/Riders.csv")

train.head()

         Order No       User Id  ...      Rider Id  Time from Pickup to Arrival
0   Order_No_4211   User_Id_633  ...  Rider_Id_432                          745
1  Order_No_25375  User_Id_2285  ...  Rider_Id_856                         1993
2   Order_No_1899   User_Id_265  ...  Rider_Id_155                          455
3   Order_No_9336  User_Id_1402  ...  Rider_Id_855                         1341
4  Order_No_27883  User_Id_1737  ...  Rider_Id_770                         1214

[5 rows x 29 columns]

In [ ]:
Training_Feature_Eng = train.copy()
Testing_Feature_Eng  = test.copy()

In [ ]:
from datetime import datetime as dt
# Variable " Placement Time of Day "
# converting time in hours 

Training_Feature_Eng['Placement - Time'] = Training_Feature_Eng['Placement - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Training_Feature_Eng['Placement Time of Day'] = Training_Feature_Eng['Placement - Time'].dt.hour

Testing_Feature_Eng['Placement - Time'] = Testing_Feature_Eng['Placement - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Testing_Feature_Eng['Placement Time of Day'] = Testing_Feature_Eng['Placement - Time'].dt.hour

In [ ]:
Testing_Feature_Eng['Placement Time of Day'].head()

0    16
1    12
2    11
3    13
4    11
Name: Placement Time of Day, dtype: int64

In [ ]:
print(Training_Feature_Eng['Placement Time of Day'].min())
print(Training_Feature_Eng['Placement Time of Day'].max())

print(Testing_Feature_Eng['Placement Time of Day'].min())
print(Testing_Feature_Eng['Placement Time of Day'].max())

0
22
6
22

In [ ]:
def get_part_hr(hour):
    if (hour > 4) and (hour <= 8):
        return 'Early Morning'
    elif (hour > 8) and (hour < 12 ):
        return 'Morning'
    elif (hour >= 12) and (hour <= 16):
        return'Noon'
    elif (hour > 16) and (hour <= 20):
        return 'Evening'
    elif (hour > 20) and (hour <= 22):
        return'Night'
    else:
        return'Late Night'

In [ ]:
Training_Feature_Eng['Placement Time of Day'] = Training_Feature_Eng['Placement Time of Day'].apply(get_part_hr)
Testing_Feature_Eng['Placement Time of Day'] = Testing_Feature_Eng['Placement Time of Day'].apply(get_part_hr)

In [ ]:
Training_Feature_Eng.head()

         Order No  ... Placement Time of Day
0   Order_No_4211  ...               Morning
1  Order_No_25375  ...               Morning
2   Order_No_1899  ...                  Noon
3   Order_No_9336  ...               Morning
4  Order_No_27883  ...               Morning

[5 rows x 30 columns]

In [ ]:
print(Training_Feature_Eng['Placement Time of Day'].head(2))
print(Testing_Feature_Eng['Placement Time of Day'].head(2))

0    Morning
1    Morning
Name: Placement Time of Day, dtype: object
0    Noon
1    Noon
Name: Placement Time of Day, dtype: object

In [ ]:
# converting time in hours 
# Variable " Confirmation Time of Day "
Training_Feature_Eng['Confirmation - Time'] = Training_Feature_Eng['Confirmation - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Training_Feature_Eng['Confirmation Time of Day'] = Training_Feature_Eng['Confirmation - Time'].dt.hour

Testing_Feature_Eng['Confirmation - Time'] = Testing_Feature_Eng['Confirmation - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Testing_Feature_Eng['Confirmation Time of Day'] = Testing_Feature_Eng['Confirmation - Time'].dt.hour

In [ ]:
Training_Feature_Eng['Confirmation Time of Day'] = Training_Feature_Eng['Confirmation Time of Day'].apply(get_part_hr)
Testing_Feature_Eng['Confirmation Time of Day'] = Testing_Feature_Eng['Confirmation Time of Day'].apply(get_part_hr)

In [ ]:
# converting time in hours 
# Varibale " Pickup Time of Day "
Training_Feature_Eng['Pickup - Time'] = Training_Feature_Eng['Pickup - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Training_Feature_Eng['Pickup Time of Day'] = Training_Feature_Eng['Pickup - Time'].dt.hour

Testing_Feature_Eng['Pickup - Time'] = Testing_Feature_Eng['Pickup - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Testing_Feature_Eng['Pickup Time of Day'] = Testing_Feature_Eng['Pickup - Time'].dt.hour

In [ ]:
Training_Feature_Eng['Pickup Time of Day'] = Training_Feature_Eng['Pickup Time of Day'].apply(get_part_hr)
Testing_Feature_Eng['Pickup Time of Day'] = Testing_Feature_Eng['Pickup Time of Day'].apply(get_part_hr)

In [ ]:
print(Training_Feature_Eng['Pickup Time of Day'].head(5))
print(Testing_Feature_Eng['Pickup Time of Day'].head(5))

0    Morning
1    Morning
2       Noon
3    Morning
4    Morning
Name: Pickup Time of Day, dtype: object
0    Evening
1       Noon
2    Morning
3       Noon
4    Morning
Name: Pickup Time of Day, dtype: object

In [ ]:
# converting time in hours
# Variable " Arrival at Pickup Time of Day "
Training_Feature_Eng['Arrival at Pickup - Time'] = Training_Feature_Eng['Arrival at Pickup - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Training_Feature_Eng['Arrival at Pickup Time of Day'] = Training_Feature_Eng['Arrival at Pickup - Time'].dt.hour

Testing_Feature_Eng['Arrival at Pickup - Time'] = Testing_Feature_Eng['Arrival at Pickup - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Testing_Feature_Eng['Arrival at Pickup Time of Day'] = Testing_Feature_Eng['Arrival at Pickup - Time'].dt.hour

In [ ]:
Training_Feature_Eng['Arrival at Pickup Time of Day'] = Training_Feature_Eng['Arrival at Pickup Time of Day'].apply(get_part_hr)
Testing_Feature_Eng['Arrival at Pickup Time of Day'] = Testing_Feature_Eng['Arrival at Pickup Time of Day'].apply(get_part_hr)

In [ ]:
print(Training_Feature_Eng['Arrival at Pickup Time of Day'].head(5))
print(Testing_Feature_Eng['Arrival at Pickup Time of Day'].head(5))

0    Morning
1    Morning
2       Noon
3    Morning
4    Morning
Name: Arrival at Pickup Time of Day, dtype: object
0       Noon
1       Noon
2    Morning
3       Noon
4    Morning
Name: Arrival at Pickup Time of Day, dtype: object

In [ ]:
# converting time in hours from the Training Feature Eng
# Variable " Arrival at Destination - Time "
Training_Feature_Eng['Arrival at Destination - Time'] = Training_Feature_Eng['Arrival at Destination - Time'].apply(lambda x: dt.strptime(x,'%I:%M:%S %p'))
Training_Feature_Eng['Arrival at Destination Time of Day'] = Training_Feature_Eng['Arrival at Destination - Time'].dt.hour

Testing_Feature_Eng['Arrival at Destination - Time'] = Training_Feature_Eng['Arrival at Destination - Time']
Testing_Feature_Eng['Arrival at Destination Time of Day'] = Training_Feature_Eng['Arrival at Destination - Time'].dt.hour

In [ ]:
Training_Feature_Eng['Arrival at Destination Time of Day'].head()
Testing_Feature_Eng["Arrival at Destination Time of Day"].head()

0    10
1    12
2    13
3    10
4    10
Name: Arrival at Destination Time of Day, dtype: int64

In [ ]:
Training_Feature_Eng['Arrival at Destination Time of Day']= Training_Feature_Eng['Arrival at Destination Time of Day'].apply(get_part_hr)
Testing_Feature_Eng['Arrival at Destination Time of Day'] = Testing_Feature_Eng['Arrival at Destination Time of Day'].apply(get_part_hr)

In [ ]:
print(Training_Feature_Eng['Arrival at Destination Time of Day'].head(5))
print(Testing_Feature_Eng['Arrival at Destination Time of Day'].head(5))

0    Morning
1       Noon
2       Noon
3    Morning
4    Morning
Name: Arrival at Destination Time of Day, dtype: object
0    Morning
1       Noon
2       Noon
3    Morning
4    Morning
Name: Arrival at Destination Time of Day, dtype: object

**Grouping the variable "Weekday (Mo=1)" into Weekday and Weekend¶**

In [ ]:
# Variable " Placement_-_Weekday_(Mo_=_1) " 
Training_Feature_Eng['Actual Day of Placement'] = np.where(Training_Feature_Eng['Placement - Weekday (Mo = 1)']< 6,
                                                   'Weekday','Weekend')

Testing_Feature_Eng['Actual Day of Placement'] = np.where(Testing_Feature_Eng['Placement - Weekday (Mo = 1)']< 6,
                                                   'Weekday','Weekend')

In [ ]:
print(Training_Feature_Eng['Actual Day of Placement'].head(2))
print(Testing_Feature_Eng['Actual Day of Placement'].head(2))

0    Weekday
1    Weekday
Name: Actual Day of Placement, dtype: object
0    Weekday
1    Weekday
Name: Actual Day of Placement, dtype: object

In [ ]:
# Variable " Confirmation_-_Weekday_(Mo_=_1) " 
Training_Feature_Eng['Actual Day of Confirmation'] = np.where(Training_Feature_Eng['Confirmation - Weekday (Mo = 1)']< 6,
                                                      'Weekday','Weekend')

Testing_Feature_Eng['Actual Day of Confirmation'] = np.where(Testing_Feature_Eng['Confirmation - Weekday (Mo = 1)']< 6,
                                                       'Weekday','Weekend')

In [ ]:
print(Training_Feature_Eng['Actual Day of Confirmation'].tail(2))
print(Testing_Feature_Eng['Actual Day of Confirmation'].tail(2))

21199    Weekday
21200    Weekday
Name: Actual Day of Confirmation, dtype: object
7066    Weekday
7067    Weekday
Name: Actual Day of Confirmation, dtype: object

In [ ]:
# Varibale " Pickup_-_Weekday_(Mo_=_1) "
Training_Feature_Eng['Actual Day of Pickup'] = np.where(Training_Feature_Eng['Pickup - Weekday (Mo = 1)'] < 6, 
                                       'Weekday', 'Weekend')

Testing_Feature_Eng['Actual Day of Pickup'] = np.where(Testing_Feature_Eng['Pickup - Weekday (Mo = 1)'] < 6, 
                                       'Weekday', 'Weekend')

In [ ]:
print(Training_Feature_Eng['Actual Day of Pickup'].head(2))
print(Testing_Feature_Eng['Actual Day of Pickup'].head(2))

0    Weekday
1    Weekday
Name: Actual Day of Pickup, dtype: object
0    Weekday
1    Weekday
Name: Actual Day of Pickup, dtype: object

In [ ]:
# Varibale " Arrival_at_Destination_-_Weekday_(Mo_=_1) "
Training_Feature_Eng['Actual Day of Arrival at Destination'] = np.where(Training_Feature_Eng['Arrival at Destination - Weekday (Mo = 1)'] < 6, 
                                                                 'Weekday', 'Weekend')

Testing_Feature_Eng['Arrival at Destination - Weekday (Mo = 1)'] = Training_Feature_Eng['Arrival at Destination - Weekday (Mo = 1)']
Testing_Feature_Eng['Actual Day of Arrival at Destination'] = np.where(Testing_Feature_Eng['Arrival at Destination - Weekday (Mo = 1)'] < 6, 
                                                                 'Weekday', 'Weekend')

In [ ]:
print(Training_Feature_Eng['Actual Day of Arrival at Destination'].head(2))
print(Testing_Feature_Eng['Actual Day of Arrival at Destination'].head(2))

0    Weekday
1    Weekday
Name: Actual Day of Arrival at Destination, dtype: object
0    Weekday
1    Weekday
Name: Actual Day of Arrival at Destination, dtype: object

In [ ]:
#Variable " Arrival_at_Pickup_-_Weekday_(Mo_=_1) "
Training_Feature_Eng['Actual Day of Arrival at Pickup'] = np.where(Training_Feature_Eng['Arrival at Pickup - Weekday (Mo = 1)'] < 6, 
                                                            'Weekday', 'Weekend')

Testing_Feature_Eng['Actual Day of Arrival at Pickup'] = np.where(Testing_Feature_Eng['Arrival at Pickup - Weekday (Mo = 1)'] < 6, 
                                                            'Weekday', 'Weekend')

In [ ]:
print(Training_Feature_Eng['Actual Day of Arrival at Pickup'].tail(2))
print(Testing_Feature_Eng['Actual Day of Arrival at Pickup'].tail(2))

21199    Weekday
21200    Weekday
Name: Actual Day of Arrival at Pickup, dtype: object
7066    Weekday
7067    Weekday
Name: Actual Day of Arrival at Pickup, dtype: object

In [ ]:
import sys
import webbrowser
from geopy.distance import geodesic

In [ ]:
from geopy.distance import geodesic

Training_Feature_Eng['Proximity to Pickup Point'] = np.nan
Testing_Feature_Eng['Proximity to Pickup Point'] = np.nan

CBD_Nairobi=(-1.299719, 36.816097)

for i, row in Training_Feature_Eng.iterrows():
    Training_Feature_Eng.loc[i, 'Proximity to Pickup Point'] = geodesic((Training_Feature_Eng.loc[i, 'Pickup Lat'],
                                                                  Training_Feature_Eng.loc[i, 'Pickup Long']),CBD_Nairobi).km 
for i, row in Testing_Feature_Eng.iterrows():
    Testing_Feature_Eng.loc[i, 'Proximity to Pickup Point'] = geodesic((Testing_Feature_Eng.loc[i, 'Pickup Lat'],
                                                                  Testing_Feature_Eng.loc[i, 'Pickup Long']),CBD_Nairobi).km

In [ ]:
print(Training_Feature_Eng['Proximity to Pickup Point'].head(2))
print(Testing_Feature_Eng['Proximity to Pickup Point'].head(2))

0     2.549607
1    10.885586
Name: Proximity to Pickup Point, dtype: float64
0    7.130916
1    3.824221
Name: Proximity to Pickup Point, dtype: float64

In [ ]:
from geopy.distance import geodesic

Training_Feature_Eng['Proximity to Destination'] = np.nan
Testing_Feature_Eng['Proximity to Destination'] = np.nan

CBD_Nairobi=(-1.299719, 36.816097)

for i, row in Training_Feature_Eng.iterrows():
    Training_Feature_Eng.loc[i, 'Proximity to Destination'] = geodesic((Training_Feature_Eng.loc[i, 'Destination Lat'],
                                                                  Training_Feature_Eng.loc[i, 'Destination Long']),CBD_Nairobi).km
    
for i, row in Testing_Feature_Eng.iterrows():
    Testing_Feature_Eng.loc[i, 'Proximity to Destination'] = geodesic((Testing_Feature_Eng.loc[i, 'Destination Lat'],
                                                                  Testing_Feature_Eng.loc[i, 'Destination Long']),CBD_Nairobi).km

In [ ]:
print(Training_Feature_Eng['Proximity to Destination'].head(2))
print(Testing_Feature_Eng['Proximity to Destination'].head(2))

0    1.520355
1    0.556101
Name: Proximity to Destination, dtype: float64
0    0.929731
1    2.657570
Name: Proximity to Destination, dtype: float64

In [ ]:
Temperature_Deg = []

for Degree in Training_Feature_Eng['Temperature']:
    if (Degree >= 15) and (Degree <= 27):
        Temperature_Deg.append('Average High Temperature')
    elif (Degree >= 12) and (Degree <= 22 ):
        Temperature_Deg.append('Average Low Temperature')
    else:
        Temperature_Deg.append('Normal Temperature')

Temperature_Deg_1 = []

for Degree in Testing_Feature_Eng['Temperature']:
    if (Degree >= 15) and (Degree <= 27):
        Temperature_Deg_1.append('Average High Temperature')
    elif (Degree >= 12) and (Degree <= 22 ):
        Temperature_Deg_1.append('Average Low Temperature')
    else:
        Temperature_Deg_1.append('Normal Temperature')


Training_Feature_Eng['Temperature Condition'] = Temperature_Deg
Testing_Feature_Eng['Temperature Condition'] = Temperature_Deg_1

In [ ]:
print(Training_Feature_Eng['Temperature Condition'].head(2))
print(Testing_Feature_Eng['Temperature Condition'].head(2))

0    Average High Temperature
1    Average High Temperature
Name: Temperature Condition, dtype: object
0    Normal Temperature
1    Normal Temperature
Name: Temperature Condition, dtype: object

In [ ]:
Place_Day_Month = []

for Each_Day in Training_Feature_Eng['Placement - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Place_Day_Month.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Place_Day_Month.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Place_Day_Month.append('3rd Week')
    else:
        Place_Day_Month.append('4th Week')

Place_Day_Month_1 = []

for Each_Day in Testing_Feature_Eng['Placement - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Place_Day_Month_1.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Place_Day_Month_1.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Place_Day_Month_1.append('3rd Week')
    else:
        Place_Day_Month_1.append('4th Week')
            
Training_Feature_Eng['Placement_Day into Weeks'] = Place_Day_Month
Testing_Feature_Eng['Placement_Day into Weeks'] = Place_Day_Month_1

In [ ]:
print(Training_Feature_Eng['Placement_Day into Weeks'].head(2))
print(Testing_Feature_Eng['Placement_Day into Weeks'].head(2))

0    2nd Week
1    2nd Week
Name: Placement_Day into Weeks, dtype: object
0    4th Week
1    3rd Week
Name: Placement_Day into Weeks, dtype: object

In [ ]:
Confirm_Day_Month = []

for Each_Day in Training_Feature_Eng['Confirmation - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Confirm_Day_Month.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Confirm_Day_Month.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Confirm_Day_Month.append('3rd Week')
    else:
        Confirm_Day_Month.append('4th Week')

Confirm_Day_Month_1 = []

for Each_Day in Testing_Feature_Eng['Confirmation - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Confirm_Day_Month_1.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Confirm_Day_Month_1.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Confirm_Day_Month_1.append('3rd Week')
    else:
        Confirm_Day_Month_1.append('4th Week')  

Training_Feature_Eng['Confirmation_Day into Weeks'] = Confirm_Day_Month
Testing_Feature_Eng['Confirmation_Day into Weeks'] = Confirm_Day_Month_1

In [ ]:
print(Training_Feature_Eng['Confirmation_Day into Weeks'].head(2))
print(Testing_Feature_Eng['Confirmation_Day into Weeks'].head(2))

0    2nd Week
1    2nd Week
Name: Confirmation_Day into Weeks, dtype: object
0    4th Week
1    3rd Week
Name: Confirmation_Day into Weeks, dtype: object

In [ ]:
Arrival_Pickup_Day_Month = []

for Each_Day in Training_Feature_Eng['Arrival at Pickup - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Arrival_Pickup_Day_Month.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Arrival_Pickup_Day_Month.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Arrival_Pickup_Day_Month.append('3rd Week')
    else:
        Arrival_Pickup_Day_Month.append('4th Week')

Arrival_Pickup_Day_Month_1 = []

for Each_Day in Testing_Feature_Eng['Arrival at Pickup - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Arrival_Pickup_Day_Month_1.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Arrival_Pickup_Day_Month_1.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Arrival_Pickup_Day_Month_1.append('3rd Week')
    else:
        Arrival_Pickup_Day_Month_1.append('4th Week')
        
Training_Feature_Eng['Arrival_Pickup_Day into Weeks'] = Arrival_Pickup_Day_Month
Testing_Feature_Eng['Arrival_Pickup_Day into Weeks'] = Arrival_Pickup_Day_Month_1

In [ ]:
print(Training_Feature_Eng['Arrival_Pickup_Day into Weeks'].head(2))
print(Testing_Feature_Eng['Arrival_Pickup_Day into Weeks'].head(2))

0    2nd Week
1    2nd Week
Name: Arrival_Pickup_Day into Weeks, dtype: object
0    4th Week
1    3rd Week
Name: Arrival_Pickup_Day into Weeks, dtype: object

In [ ]:
Pickup_Day_Month = []

for Each_Day in Training_Feature_Eng['Pickup - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Pickup_Day_Month.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Pickup_Day_Month.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Pickup_Day_Month.append('3rd Week')
    else:
        Pickup_Day_Month.append('4th Week')

Pickup_Day_Month_1 = []

for Each_Day in Testing_Feature_Eng['Pickup - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Pickup_Day_Month_1.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Pickup_Day_Month_1.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Pickup_Day_Month_1.append('3rd Week')
    else:
        Pickup_Day_Month_1.append('4th Week')
                        
Training_Feature_Eng['Pickup_Day into Weeks'] = Pickup_Day_Month
Testing_Feature_Eng['Pickup_Day into Weeks'] = Pickup_Day_Month_1

In [ ]:
print(Training_Feature_Eng['Pickup_Day into Weeks'].head(2))
print(Testing_Feature_Eng['Pickup_Day into Weeks'].head(2))

0    2nd Week
1    2nd Week
Name: Pickup_Day into Weeks, dtype: object
0    4th Week
1    3rd Week
Name: Pickup_Day into Weeks, dtype: object

In [ ]:
Arrival_Destn_Day_Month = []

for Each_Day in Training_Feature_Eng['Arrival at Destination - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Arrival_Destn_Day_Month.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Arrival_Destn_Day_Month.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Arrival_Destn_Day_Month.append('3rd Week')
    else:
        Arrival_Destn_Day_Month.append('4th Week')

Arrival_Destn_Day_Month_1 = []
Testing_Feature_Eng['Arrival at Destination - Day of Month']=Training_Feature_Eng['Arrival at Destination - Day of Month']

for Each_Day in Testing_Feature_Eng['Arrival at Destination - Day of Month']:
    if (Each_Day > 0 and Each_Day <=7):
        Arrival_Destn_Day_Month_1.append('1st Week')        
    elif (Each_Day > 7 and Each_Day <=15):
        Arrival_Destn_Day_Month_1.append('2nd Week')
    elif (Each_Day > 15 and Each_Day <=23):
        Arrival_Destn_Day_Month_1.append('3rd Week')
    else:
        Arrival_Destn_Day_Month_1.append('4th Week')

Training_Feature_Eng['Arrival_Destination_Day into Weeks'] = Arrival_Destn_Day_Month
Testing_Feature_Eng['Arrival_Destination_Day into Weeks'] = Arrival_Destn_Day_Month_1

In [ ]:
print(Training_Feature_Eng['Arrival_Destination_Day into Weeks'].head(2))
print(Testing_Feature_Eng['Arrival_Destination_Day into Weeks'].head(2))

0    2nd Week
1    2nd Week
Name: Arrival_Destination_Day into Weeks, dtype: object
0    2nd Week
1    2nd Week
Name: Arrival_Destination_Day into Weeks, dtype: object

In [ ]:
Training_Feature_Eng.columns

Index(['Order No', 'User Id', 'Vehicle Type', 'Platform Type',
       'Personal or Business', 'Placement - Day of Month',
       'Placement - Weekday (Mo = 1)', 'Placement - Time',
       'Confirmation - Day of Month', 'Confirmation - Weekday (Mo = 1)',
       'Confirmation - Time', 'Arrival at Pickup - Day of Month',
       'Arrival at Pickup - Weekday (Mo = 1)', 'Arrival at Pickup - Time',
       'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)', 'Pickup - Time',
       'Arrival at Destination - Day of Month',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Arrival at Destination - Time', 'Distance (KM)', 'Temperature',
       'Precipitation in millimeters', 'Pickup Lat', 'Pickup Long',
       'Destination Lat', 'Destination Long', 'Rider Id',
       'Time from Pickup to Arrival', 'Placement Time of Day',
       'Confirmation Time of Day', 'Pickup Time of Day',
       'Arrival at Pickup Time of Day', 'Arrival at Destination Time of Day',
       'Actual Day of Placement', 'Actual Day of Confirmation',
       'Actual Day of Pickup', 'Actual Day of Arrival at Destination',
       'Actual Day of Arrival at Pickup', 'Proximity to Pickup Point',
       'Proximity to Destination', 'Temperature Condition',
       'Placement_Day into Weeks', 'Confirmation_Day into Weeks',
       'Arrival_Pickup_Day into Weeks', 'Pickup_Day into Weeks',
       'Arrival_Destination_Day into Weeks'],
      dtype='object')

In [ ]:
Weekend_Weekday = Training_Feature_Eng.groupby(['Actual Day of Placement'], as_index=False).mean()
Weekend_Weekday[['Actual Day of Placement','Time from Pickup to Arrival']].sort_values('Time from Pickup to Arrival',ascending=False)

  Actual Day of Placement  Time from Pickup to Arrival
0                 Weekday                  1562.609337
1                 Weekend                  1477.017033

In [ ]:
Pickup_Week = Training_Feature_Eng.groupby(['Pickup_Day into Weeks'], as_index=False).mean()
Pickup_Week[['Pickup_Day into Weeks','Time from Pickup to Arrival']].sort_values('Time from Pickup to Arrival',ascending=False)

  Pickup_Day into Weeks  Time from Pickup to Arrival
1              2nd Week                  1589.452235
0              1st Week                  1558.922781
2              3rd Week                  1544.737104
3              4th Week                  1529.274536

In [ ]:
Placement_Day_Time = Training_Feature_Eng.groupby(['Placement Time of Day'], as_index=False).mean()
Placement_Day_Time[['Placement Time of Day','Time from Pickup to Arrival']].sort_values('Time from Pickup to Arrival',ascending=False)

  Placement Time of Day  Time from Pickup to Arrival
5                  Noon                  1570.260299
3               Morning                  1556.264176
0         Early Morning                  1487.088725
1               Evening                  1483.903955
4                 Night                   806.846154
2            Late Night                     5.000000

In [ ]:
Testing_Feature_Eng.head(2)

         Order No  ... Arrival_Destination_Day into Weeks
0  Order_No_19248  ...                           2nd Week
1  Order_No_12736  ...                           2nd Week

[2 rows x 46 columns]

In [ ]:
Training_Feature_Eng.head(2)

         Order No  ... Arrival_Destination_Day into Weeks
0   Order_No_4211  ...                           2nd Week
1  Order_No_25375  ...                           2nd Week

[2 rows x 47 columns]

In [ ]:
Training_Feature_Eng['Precipitation in millimeters'].fillna(0, inplace = True)
Training_Feature_Eng['Temperature'].fillna((Training_Feature_Eng['Temperature'].mean()), inplace=True)

In [ ]:
Testing_Feature_Eng['Precipitation in millimeters'].fillna(0, inplace = True)
Testing_Feature_Eng['Temperature'].fillna((Training_Feature_Eng['Temperature'].mean()), inplace=True)

In [ ]:
Numeric_Train = Training_Feature_Eng._get_numeric_data()
Numeric_Test = Testing_Feature_Eng._get_numeric_data()

In [ ]:
Categorical_Train = Training_Feature_Eng.select_dtypes(include=['object'])
Categorical_Test = Testing_Feature_Eng.select_dtypes(include=['object'])

In [ ]:
Categorical_Train.head(2)

         Order No  ... Arrival_Destination_Day into Weeks
0   Order_No_4211  ...                           2nd Week
1  Order_No_25375  ...                           2nd Week

[2 rows x 21 columns]

In [ ]:
Droppers = ['Order No','User Id','Vehicle Type','Rider Id']

In [ ]:
Categorical_Train = Categorical_Train.drop(Droppers, axis=1)
Categorical_Test = Categorical_Test.drop(Droppers, axis=1)

In [ ]:
Encod_Cate_Train = pd.get_dummies(Categorical_Train)
Encod_Cate_Test = pd.get_dummies(Categorical_Test)

In [ ]:
Encod_Cate_Train.head()

   Personal or Business_Business  ...  Arrival_Destination_Day into Weeks_4th Week
0                              1  ...                                            0
1                              0  ...                                            0
2                              1  ...                                            1
3                              1  ...                                            0
4                              0  ...                                            0

[5 rows x 65 columns]

In [ ]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
def VIF(Numeric_Train, thresh=15):
    variables = list(range(Numeric_Train.shape[1]))
    dropped = True
    while dropped:
        dropped = False
        vif = [variance_inflation_factor(Numeric_Train.iloc[:, variables].values, ix)
               for ix in range(Numeric_Train.iloc[:, variables].shape[1])]
        maxloc = vif.index(max(vif))
        if max(vif) > thresh:
            print('dropping \'' + Numeric_Train.iloc[:, variables].columns[maxloc] + '\' at index: ' + str(maxloc))
            del variables[maxloc]
            dropped = True

    print('Remaining Variables are :')
    print(Numeric_Train.columns[variables])
    return Numeric_Train.iloc[:, variables]

In [ ]:
Cleaned_Train = VIF(Numeric_Train,15)

/usr/local/lib/python3.7/dist-packages/statsmodels/stats/outliers_influence.py:185: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

dropping 'Placement - Day of Month' at index: 1
dropping 'Confirmation - Day of Month' at index: 2
dropping 'Confirmation - Weekday (Mo = 1)' at index: 2
dropping 'Arrival at Pickup - Day of Month' at index: 2
dropping 'Arrival at Pickup - Weekday (Mo = 1)' at index: 2
dropping 'Pickup - Day of Month' at index: 2
dropping 'Pickup - Weekday (Mo = 1)' at index: 2
dropping 'Pickup Long' at index: 8
dropping 'Arrival at Destination - Weekday (Mo = 1)' at index: 3
dropping 'Destination Long' at index: 8
dropping 'Pickup Lat' at index: 6
dropping 'Destination Lat' at index: 6
dropping 'Temperature' at index: 4
Remaining Variables are :
Index(['Platform Type', 'Placement - Weekday (Mo = 1)',
       'Arrival at Destination - Day of Month', 'Distance (KM)',
       'Precipitation in millimeters', 'Time from Pickup to Arrival',
       'Proximity to Pickup Point', 'Proximity to Destination'],
      dtype='object')

In [ ]:

def VIF(Numeric_Test, thresh=15):
    variables = list(range(Numeric_Test.shape[1]))
    dropped = True
    while dropped:
        dropped = False
        vif = [variance_inflation_factor(Numeric_Test.iloc[:, variables].values, ix)
               for ix in range(Numeric_Test.iloc[:, variables].shape[1])]
        maxloc = vif.index(max(vif))
        if max(vif) > thresh:
            print('dropping \'' + Numeric_Test.iloc[:, variables].columns[maxloc] + '\' at index: ' + str(maxloc))
            del variables[maxloc]
            dropped = True

    print('Remaining Variables are :')
    print(Numeric_Test.columns[variables])
    return Numeric_Test.iloc[:, variables]

In [ ]:
Cleaned_Test = VIF(Numeric_Test)

/usr/local/lib/python3.7/dist-packages/statsmodels/stats/outliers_influence.py:185: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

dropping 'Placement - Day of Month' at index: 1
dropping 'Placement - Weekday (Mo = 1)' at index: 1
dropping 'Confirmation - Day of Month' at index: 1
dropping 'Confirmation - Weekday (Mo = 1)' at index: 1
dropping 'Arrival at Pickup - Day of Month' at index: 1
dropping 'Arrival at Pickup - Weekday (Mo = 1)' at index: 1
dropping 'Pickup Long' at index: 7
dropping 'Destination Long' at index: 8
dropping 'Pickup Lat' at index: 6
dropping 'Destination Lat' at index: 6
dropping 'Temperature' at index: 4
Remaining Variables are :
Index(['Platform Type', 'Pickup - Day of Month', 'Pickup - Weekday (Mo = 1)',
       'Distance (KM)', 'Precipitation in millimeters',
       'Arrival at Destination - Weekday (Mo = 1)',
       'Proximity to Pickup Point', 'Proximity to Destination',
       'Arrival at Destination - Day of Month'],
      dtype='object')

In [ ]:
Cleaned_Train = Cleaned_Train.drop(['Placement - Weekday (Mo = 1)'],axis=1)

In [ ]:
Cleaned_Test = Cleaned_Test.drop(["Arrival at Destination - Weekday (Mo = 1)",'Pickup - Day of Month',
                                 "Pickup - Weekday (Mo = 1)"],axis=1)

In [ ]:
Training_Cleaned = pd.concat([Encod_Cate_Train, Cleaned_Train], axis=1)
Testing_Cleaned = pd.concat([Encod_Cate_Test, Cleaned_Test], axis=1)

In [ ]:
Training_Cleaned = Training_Cleaned.drop(['Placement Time of Day_Late Night',
                                         'Confirmation Time of Day_Late Night',
                                         'Arrival at Pickup Time of Day_Late Night'], axis=1)

In [ ]:
Training_Cleaned.head(2)

   Personal or Business_Business  ...  Proximity to Destination
0                              1  ...                  1.520355
1                              0  ...                  0.556101

[2 rows x 69 columns]

**Modeling**

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
New_Train = Training_Cleaned.copy()
X = New_Train.drop('Time from Pickup to Arrival', axis = 1)
Y = New_Train['Time from Pickup to Arrival']

X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.linear_model import LinearRegression

linear_regress = LinearRegression()
linear_regress.fit(X_Train, Y_Train)
y_pred_train_lr = linear_regress.predict(X_Test)

print('RMSE:\t',np.sqrt(mean_squared_error(Y_Test,y_pred_train_lr)))
print('MSE:\t', mean_squared_error(Y_Test,y_pred_train_lr))
print("R2: \t", r2_score(Y_Test, y_pred_train_lr))

RMSE:	 779.0955798876851
MSE:	 606989.9226005282
R2: 	 0.37508111927734544